<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>코어맵 운동 가이드</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <!-- swiper.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/exerciseGuide.css">

    <script defer src="/js/exerciseGuide.js"></script>

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>


<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1 class="title">코어맵 운동 가이드</h1>
        <div class="exercise-container">
            <section class="exercise-section">
                <ul>
                    <h2 class="sub-title">팔</h2>
                    <li>
                        <a href="/exercise/barbellBicepsCurl" class="link">바벨 바이셉스 컬</a>
                    </li>
                    <li>
                        <a href="/exercise/cablePushDown" class="link">케이블 푸쉬 다운</a>
                    </li>
                    <li>
                        <a href="/exercise/dumbbellBicepsCurl" class="link">덤벨 바이셉스 컬</a>
                    </li>
                    <li>
                        <a href="/exercise/dumbbellWristCurl" class="link">덤벨 리스트 컬</a>
                    </li>
                    <li>
                        <a href="/exercise/hammerCurl" class="link">해머 컬</a>
                    </li>
                    <li>
                        <a href="/exercise/lyingTricepsExtension" class="link">라잉 트라이셉스 익스텐션</a>
                    </li>
                    <li>
                        <a href="/exercise/overheadExtension" class="link">오버헤드 익스텐션</a>
                    </li>
                    <li>
                        <a href="/exercise/reverseBarbellWristCurl" class="link">리버스 바벨 리스트 컬</a>
                    </li>
                </ul>
                <ul>
                    <h2 class="sub-title">등</h2>
                    <li>
                        <a href="/exercise/armPullDown" class="link">암 풀 다운</a>
                    </li>
                    <li>
                        <a href="/exercise/backLatPullDown" class="link">백 랫 풀 다운</a>
                    </li>
                    <li>
                        <a href="/exercise/barbellRow" class="link">바벨 로우</a>
                    </li>
                    <li>
                        <a href="/exercise/deadLift" class="link">데드 리프트</a>
                    </li>
                    <li>
                        <a href="/exercise/latPullDown" class="link">랫 풀 다운</a>
                    </li>
                    <li>
                        <a href="/exercise/pullUp" class="link">풀 업</a>
                    </li>
                    <li>
                        <a href="/exercise/seatedCableRow" class="link">시티드 케이블 로우</a>
                    </li>
                    <li>
                        <a href="/exercise/T-BarRow" class="link">티 바 로우</a>
                    </li>
                </ul>
            </section>
            <section class="exercise-section">
                <ul>
                    <h2 class="sub-title">가슴</h2>
                    <li>
                        <a href="/exercise/benchPress" class="link">벤치 프레스</a>
                    </li>
                    <li>
                        <a href="/exercise/chestPressMachine" class="link">체스트 프레스 머신</a>
                    </li>
                    <li>
                        <a href="/exercise/closeGripBenchPress" class="link">클로즈 그립 벤치 프레스</a>
                    </li>
                    <li>
                        <a href="/exercise/dips" class="link">딥스</a>
                    </li>
                    <li>
                        <a href="/exercise/dumbbellBenchPress" class="link">덤벨 벤치 프레스</a>
                    </li>
                    <li>
                        <a href="/exercise/inclineBenchPress" class="link">인클라인 벤치 프레스</a>
                    </li>
                    <li>
                        <a href="/exercise/pushUp" class="link">푸쉬 업</a>
                    </li>
                </ul>
                <ul>
                    <h2 class="sub-title">코어</h2>
                    <li>
                        <a href="/exercise/hangingLegRaise" class="link">행잉 레그 레이즈</a>
                    </li>
                    <li>
                        <a href="/exercise/plank" class="link">플랭크</a>
                    </li>
                </ul>
            </section>
            <section class="exercise-section">
                <ul>
                    <h2 class="sub-title">하체</h2>
                    <li>
                        <a href="/exercise/legCurl" class="link">레그 컬</a>
                    </li>
                    <li>
                        <a href="/exercise/legExtension" class="link">레그 익스텐션</a>
                    </li>
                    <li>
                        <a href="/exercise/legPress" class="link">레그 프레스</a>
                    </li>
                    <li>
                        <a href="/exercise/squat" class="link">스쿼트</a>
                    </li>
                </ul>
                <ul>
                    <h2 class="sub-title">어깨</h2>
                    <li>
                        <a href="/exercise/dumbbellShoulderPress" class="link">덤벨 숄더 프레스</a>
                    </li>
                    <li>
                        <a href="/exercise/overheadPress" class="link">오버 헤드 프레스</a>
                    </li>
                    <li>
                        <a href="/exercise/pecDeckRearDelt" class="link">팩 덱 리어 델트</a>
                    </li>
                    <li>
                        <a href="/exercise/sideLateralRaise" class="link">사이드 레터럴 레이즈</a>
                    </li>
                    <li>
                        <a href="/exercise/smithMachineOverheadPress" class="link">스미스 머신 오버 헤드 프레스</a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>