@charset "UTF-8";

#main {
    background-color: #2A292E;
}

#main > .content-container {
    padding: 2rem 0;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}

#main > .content-container > .title-container > .title {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
}

#loginForm {
    max-width: 400px;
    align-self: center;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

#loginForm > .label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    justify-content: flex-start;
}

#loginForm > .label > .text {
    color: #eaecee;
    font-size: 1.125rem;
}

#loginForm > .menu {
    margin-top: 0.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: flex-start;
}

#loginForm > .menu > .item > .link {
    color: #3498db;
}