<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자페이지</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin/adminPage.css">

    <script defer src="/js/common.js"></script>
</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1 class="title center">관리자페이지</h1>
        <div class="admin-page-container">
            <div class="link-container">
                <a href="/admin/adminPage?function=menu1" th:class="${function == 'menu1'} ? 'selected' : ''"
                   class="link user-confirm-modify-link">관리자 메뉴1</a>
                <a href="/admin/adminPage?function=menu2" th:class="${function == 'menu2'} ? 'selected' : ''"
                   class="link user-secession-link">관리자 메뉴2</a>
            </div>
            <div class="function-container"
                 th:with="userRegex = ${T(com.coremap.demo.regexes.UserRegex)}">
                <div th:if="${function == 'menu1'}">
                    <span class="text">메뉴1</span> <br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>

                <div th:if="${function == 'menu2'}">
                    <span class="text">메뉴2</span> <br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>