<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coremap.demo.domain.mapper.UserMapper">

    <insert id="insertEmailAuth" parameterType="com.coremap.demo.domain.entity.EmailAuth">
        INSERT INTO `coremap_db`.`email_auths` (email, code, salt, created_at, expires_at, verified_flag)
        VALUES (#{email}, #{code}, #{salt}, #{createdAt}, #{expiresAt}, #{isVerified})
    </insert>

</mapper>