@charset "UTF-8";

#main .content-container {
    padding: 5rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
}

#additionalInfoForm {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 10px;
    box-shadow: 0 0 0.1rem 0.0625rem #17202a50;
    padding: 1rem;
    width: 500px;
}

.info-box {
    gap: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    margin-bottom: 0.75rem;
}

.warning:empty {
    margin: 0;
}

.warning {
    margin-bottom: 0.75rem;
}

.additional-info-btn {
    background-color: #202127;
    color: #eaecee;
    margin-top: 1.15rem;
    text-align: center;
}
