@charset "UTF-8";

#main .content-container {
    padding: 5rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
}

#moveLoginForm {
    gap: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.email-info-container {
    border-radius: 10px;
    box-shadow: 0 0 0.1rem 0.0625rem #17202a50;
    padding: 1rem;
}

.email-info-box {
    gap: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}


