@charset "UTF-8";

#main .content-container {
    padding: 5rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    justify-content: flex-start;
}

#loginForm {
    width: 310px;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

#loginForm .menu {
    margin-top: 0.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

.exception {
    background-color: #FCC2C2;
    border: 0.0625rem solid #EDB6B6;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    color: red;
}

.simple-login-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
}

.icon-container img {
    height: 40px;
}