@charset "UTF-8";

#main {
    background-color: #2A292E;
}

.text {
    color: #eaecee;
}

.content-container {
    padding: 2rem 0;

    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}

.title {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
}

#loginForm {
    width: 310px;
    align-self: center;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-start;
}

#loginForm .label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    justify-content: flex-start;
}

#loginForm .row-label {
    display: flex;
    flex-direction: row;
}

#loginForm .remember {
    margin-right: 0.5rem;
}

#loginForm .menu {
    margin-top: 0.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: flex-start;
}

#loginForm .link {
    color: #3498db;
}

.exception {
    background-color: #FCC2C2;
    border: 0.0625rem solid #EDB6B6;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    color: red;
}