@charset "UTF-8";

#main .content-container {
    padding: 5rem 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.my-page-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.my-page-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.link-container {
    display: flex;
    flex-direction: column;
}

.link-container a {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-bottom-left-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
    padding: 8px;
}

.link-container a.selected {
    background-color: #202127;
}

#modifyForm {
    border: 0.0625rem solid #202127;
}

.info-box {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.0625rem solid #202127;
}

.info {
    width: 130px;
}

.address-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.address-postal-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.warning:empty {
    margin: 0;
}

.warning {
    margin-left: 0.75rem;
}

.precautions {
    margin: 0.75rem 0 0 0.75rem;
}

.modify-btn {
    margin: 0 0.75rem 0.75rem 0;
    float: right;
}

#secessionForm {
    white-space: pre-line;
    padding: 2rem 3rem;
    border: 0.0625rem solid #202127;
}

.secession-btn {
    margin-top: 3rem;
    float: right;
}