@charset "UTF-8";

#main {
    background-color: #2A292E;
}

.title {
    margin: 5rem 0;
}

#resetPasswordStep2Form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.reset-password-step2-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 10px;
    box-shadow: 0 0 0.1rem 0.0625rem #17202a50;
    padding: 1rem;
    margin-bottom: 5rem;
    width: 450px;
}

.label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    justify-content: flex-start;
    margin-top: 0.5rem;
}

.text {
    color: #eaecee;
}

.contact input {

}

.confirm-btn {
    background-color: #0D0C2E;
    color: #eaecee;
    margin-top: 1.15rem;
    text-align: center;
}