body {
    background-color: #2A292E;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
}

.home-link {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 0.375rem;
    padding: 12px;
    height: 40px;
    font-size: 16px;
    background-color: #202127;
}

.home-link:hover {
    background-color: #212329;
}