<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="_allowed-status" th:content="${article != null}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/article/modify.css">

    <!-- ckeditor -->
    <link rel="stylesheet" href="/css/article/ckeditor.css">
    <script src="/js/article/ckeditor/ckeditor.js"></script>

    <script defer src="/js/article/modify.js"></script>
</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1>게시글 수정 -
            <th:block th:text="${board.text}"></th:block>
        </h1>
        <form id="modifyForm">
            <input hidden type="hidden" name="indexInBoard" th:value="${article.indexInBoard}">
            <input type="hidden" th:value="${article.id}" name="id">
            <input type="hidden" th:value="${board.code}" name="code">

            <label for="title">제목</label>
            <input autofocus type="text" id="title" class="common-input" placeholder="제목을 입력 해주세요" name="title"
                   th:value="${article.title}">

            <label for="content">내용</label>
            <textarea id="content" maxlength="10000" placeholder="내용을 입력해 주세요" name="content" rows="15" th:text="${article.content}"></textarea>

            <input hidden name="file" type="file">
            <label>첨부파일</label>
            <div class="files">
                <button type="button" class="file-btn" name="fileAdd" title="첨부파일 추가">파일추가</button>
                <ul class="file-list" id="fileList">
                    <li class="item" th:each="file : ${fileList}" th:data-id="${file.id}">
                        <span th:title="${file.name}" th:text="${file.name}"></span>
                        <button class="delete-btn">삭제</button>
                    </li>
                </ul>
            </div>
            <div class="button-container">
                <a th:href="@{/article/read (index = ${article.indexInBoard}, code = ${board.code})}"
                   class="common-btn">돌아가기</a>
                <span class="flex-grow-1"></span>
                <button class="common-btn">작성하기</button>
            </div>
        </form>
    </div>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>