<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="article-status" th:content="${article != null}">
    <meta name="user-status" th:content="${#authentication.getPrincipal() != 'anonymousUser'}">
    <meta name="info-status" th:if="${user != null && (user.role != 'ROLE_ADMIN')}"
          th:content="${!(user.nickname == null || user.name == null || user.contactCompany.code == null || user.contact == null || user.addressPostal == null || user.addressPrimary == null || user.addressSecondary == null)}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/article/read.css">

    <script defer src="/js/article/read.js"></script>
</head>
<body>

<th:block th:if="${article != null}">
    <th:block th:replace="~{fragments/fragments.html :: header}"></th:block>
</th:block>

<main id="main" class="content-container-wrapper" th:if="${article != null}">
    <div class="content-container">
        <h1 th:text="${board.text}"></h1>
        <table id="articleTable" th:data-id="${article.id}" th:data-code="${board.code}">
            <thead>
            <tr>
                <th>제목</th>
                <td class="w-100" colspan="3" th:text="${article.title}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td class="w-50" th:text="${article.user.nickname}"></td>
                <th>조회수</th>
                <td class="w-50" th:text="${article.view}"></td>
            </tr>
            <tr>
                <th>작성 일시</th>
                <td class="w-50" th:text="${article.writtenAt}"></td>
                <th th:if="${article.modifiedAt != null}">수정 일시</th>
                <td class="w-50" th:if="${article.modifiedAt != null}" th:text="${article.modifiedAt}"></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4" th:utext="${article.content}"></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <th>첨부 파일</th>
                <td class="file-empty" colspan="3" th:if="${fileList == null || fileList.size() == 0}">첨부 파일이 없습니다.</td>
                <td colspan="3" th:if="${fileList != null && fileList.size() > 0}">
                    <ul class="file-list">
                        <li class="item" th:each="file : ${fileList}">
                            <a class="link" th:href="@{/article/file (id=${file.id})}">
                                <img src="/images/article/read.file.icon.png" alt="" class="icon">
                                <p th:text="${file.name}"></p>
                            </a>
                            <p>(
                                <th:block
                                        th:text="${T(java.lang.Math).floor(file.size) / 1024.00 * 100 / 100}"></th:block>
                                KB)
                            </p>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <div class="bottom-button-container">
                        <!-- #request.getParameter('a') : 주소창에서 a라는 속성의 값을 가져옴 -->
                        <a href="#" class="common-btn"
                           th:href="@{/board/list (code=${board.code}, page=${page})}"
                           th:if="${criterion == null || keyword == null}">목록</a>
                        <a href="#" class="common-btn"
                           th:href="@{/board/list (code=${board.code}, page=${page}, criterion = ${criterion}, keyword = ${keyword})}"
                           th:if="${criterion != null && keyword != null}">목록</a>
                        <span class="flex-grow-1"></span>
                        <a class="common-btn" rel="modify" sec:authorize="isAuthenticated()"
                           th:if="${(#authentication.principal.userDto.username == article.user.username)}"
                           th:href="@{/article/modify(index=${article.indexInBoard}, code=${board.code})}">수정</a>
                        <button class="common-btn" id="deleteBtn" sec:authorize="isAuthenticated()"
                                th:if="${(#authentication.principal.userDto.username == article.user.username) || user.role == 'ROLE_ADMIN'}">
                            삭제
                        </button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
        <form id="commentForm" th:if="${board.code != 'notice'}"
              th:with="commentRegex = ${T(com.coremap.demo.regexes.CommentRegex)}">
            <p class="comment-count">댓글 (<span th:text="${commentList.size()}"></span>)</p>
            <span class="horizontal gap-1">
                <textarea name="content" maxlength="1000" placeholder="댓글을 입력해 주세요."
                          class="common-input flex-grow-1"
                          th:data-regex="${commentRegex.CONTENT.expression}"></textarea>
                <button type="submit" class="common-btn">댓글 쓰기</button>
            </span>
        </form>
        <table class="comment-table" id="commentTable">
            <thead class="loading">
            <tr>
                <td>댓글을 불러오고 있습니다...</td>
            </tr>
            </thead>
            <thead class="error">
            <tr>
                <td>댓글을 불러오지 못하였습니다. 잠시 후 다시 불러오기를 클릭해 주세요.</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment : ${commentList}">
                <td>
                    <div class="comment">
                        <div class="head">
                            <span class="nickname">닉네임</span>
                            <span class="written-at">2024-03-27 14:01:15.657</span>
                            <span class="modified" th:if="${comment.modifiedAt != null}">(수정됨)</span>
                            <span class="flex-grow-1"></span>
                            <span class="pointer modify">수정</span>
                            <span class="pointer delete">삭제</span>
                            <span class="pointer modify-cancel">수정 취소</span>
                        </div>
                        <div class="body">
                            <span class="content">댓글 내용</span>
                            <form id="modifyForm" class="modify-form"
                                  th:with="commentRegex = ${T(com.coremap.demo.regexes.CommentRegex)}">
                                <textarea name="content" maxlength="1000" placeholder="댓글을 입력해 주세요."
                                          class="common-input"
                                          th:data-regex="${commentRegex.CONTENT.expression}"></textarea>
                                <button value="댓글 수정" class="common-btn modify-comment-btn"></button>
                            </form>
                        </div>
                        <div class="foot">
                            <span class="vote vote-up">
                                <img alt="👍" class="icon" src="/images/comment/vote.up.png">
                                <span class="value">173</span>
                                </span>
                            <span class="vote vote-down">
                                <img alt="👎" class="icon" src="/images/comment/vote.down.png">
                                <span class="value">133</span>
                            </span>
                            <span class="flex-grow-1"></span>
                            <p class="pointer reply">답글 달기</p>
                            <p class="pointer reply-cancel">답글 달기 취소</p>
                        </div>
                        <form id="replyForm" class="reply-form"
                              th:with="commentRegex = ${T(com.coremap.demo.regexes.CommentRegex)}">
                            <label class="label">
                                <textarea class="common-input" maxlength="1000" name="content"
                                          placeholder="답글을 입력해 주세요."
                                          th:data-regex="${commentRegex.CONTENT.expression}"></textarea>
                            </label>
                            <input class="common-btn" type="submit" value="답글 달기">
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block th:if="${article != null}">
    <th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>
</th:block>

</body>
</html>