<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/findEmailResult.css">

    <script defer src="/js/common.js"></script>
    <script defer src="/js/user/findEmailResult.js"></script>

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main class="content-container-wrapper" id="main">
    <h1 class="title">이메일 조회 결과</h1>
    <div class="content-container find-email-result-container">
        <label class="label" th:each="user : ${userList}">
            <input type="radio" name="username" th:value="${user.username}">
            <span class="text" th:text="${user.username}"></span>
        </label>
    </div>
    <button class="common-btn login-btn">로그인하러 가기</button>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>