<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/findEmail.css">

    <script defer src="/js/common.js"></script>
    <script defer src="/js/user/findEmail.js"></script>

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1>이메일 찾기</h1>
        <form id="findEmailForm" class="find-email-form"
              th:with="userRegex = ${T(com.coremap.demo.regexes.UserRegex)}">
            <div class="info-box">
                <input class="common-input flex-grow-1" maxlength="50" name="name" placeholder="이름" type="text"
                       th:data-regex="${userRegex.NAME.expression}">
            </div>
            <p class="warning" id="nameWarning"></p>

            <div class="info-box">
                <select name="contactCompany" class="common-select">
                    <option disabled hidden selected value="-1">통신사</option>
                    <option th:each="contactCompany : ${contactCompanyList}"
                            th:value="${contactCompany.getCode()}"
                            th:text="${contactCompany.getText()}"></option>
                </select>
                <input maxlength="20" name="contact" type="text" class="common-input flex-grow-1"
                       placeholder="-을 제외한 전화번호"
                       th:data-regex="${userRegex.CONTACT.expression}">
            </div>
            <p class="warning" id="contactWarning"></p>
            <input type="submit" value="이메일 찾기" class="common-btn find-email-btn">
        </form>
    </div>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>