<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/join.css">
    <script defer src="/js/common.js"></script>
    <script defer src="/js/user/join.js"></script>

    <!-- daum map js -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<div id="addressFind">
    <img alt="X"
         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoElEQVR4nO2WUQqAIBBE57TzVZ3DSxf9FASJueusBTnQp/seplPAyMg9CcAEfaZj9mMIYAWwCOHnzNm6YHkDrpRwwxUSzfAWCRncIyGHWyTC4DUS4fCSRDd4TqI7/Fqt2/FEVPe3BXjZ9ohvRzG5d95NgoUDFy7BitMeJkHDVZNL0HHPZRJsKJlmCQoazi1BYb2aJRjQ7SaJ9PZv+ci/sgM32VIN2RJOpwAAAABJRU5ErkJggg=="
         class="close" rel="close">
    <div class="modal"></div>
</div>

<form id="mainForm" class="content-container-wrapper"
      th:with="userRegex = ${T(com.coremap.demo.regexes.UserRegex)}, emailAuthRegex = ${T(com.coremap.demo.regexes.EmailAuthRegex)}">
    <input hidden type="hidden" id="emailSalt">
    <div class="content-container join-container">
        <label class="label email">
            <span class="text">이메일</span>
            <span class="horizontal">
                <input type="email" class="big common-field" maxlength="50" name="email"
                           placeholder="이메일 (user@sample.com)" th:data-regex="${userRegex.EMAIL.expression}">
                <input type="button" name="emailSend" value="인증번호 발송" class="common-button">
            </span>
            <span class="horizontal">
                <input disabled type="number" maxlength="6" minlength="6" name="emailCode"
                           placeholder="이메일 인증번호(숫자 6자)" class="big common-field"
                           th:data-regex="${emailAuthRegex.CODE.expression}">
                <input disabled type="button" name="emailVerify" value="인증번호 확인" class="common-button">
            </span>
        </label>
        <label class="label password">
            <span class="text">비밀번호</span>
            <input class="common-field" maxlength="15" name="password" placeholder="비밀번호 (영문, 숫자, 특수문자를 포함한 8~15자)" type="password"
                   th:data-regex="${userRegex.PASSWORD.expression}">
        </label>
        <label class="label passwordCheck">
            <input class="common-field" maxlength="15" name="passwordCheck" placeholder="비밀번호 재입력"
                   type="password" th:data-regex="${userRegex.PASSWORD.expression}">
        </label>
        <label class="label nickname">
            <span class="text">닉네임</span>
            <span class="horizontal">
                <input class="big common-field" maxlength="10" name="nickname" placeholder="닉네임" type="text"
                       th:data-regex="${userRegex.NICKNAME.expression}">
                <input type="button" name="confirmDuplication" value="중복확인" class="common-button">
            </span>
        </label>
        <label class="label name">
            <span class="text">이름</span>
            <input class="common-field" maxlength="50" name="name" placeholder="이름" type="text"
                   th:data-regex="${userRegex.NAME.expression}">
        </label>
        <label class="label contact">
            <span class="text">연락처</span>
            <span class="horizontal contact">
                <select name="contactCompany" class="common-field big">
                    <option disabled hidden selected value="-1">통신사</option>
                    <!-- contactCompanies[] 인자의 개수 만큼 <option> 태그 반복 -->
                        <option th:each="contactCompany : ${contactCompanyList}"
                                th:value="${contactCompany.getCode()}"
                                th:text="${contactCompany.getText()}"></option>
                </select>
                <input maxlength="4" name="contactFirst" type="text" class="common-field" placeholder="010"
                       th:data-regex="${userRegex.CONTACT_FIRST.expression}">
                <input maxlength="4" name="contactSecond" type="text" class="common-field" placeholder="0000"
                       th:data-regex="${userRegex.CONTACT_SECOND.expression}">
                <input maxlength="4" name="contactThird" type="text" class="common-field" placeholder="0000"
                       th:data-regex="${userRegex.CONTACT_THIRD.expression}">
            </span>
        </label>
        <label class="label address">
            <span class="text">주소</span>
            <span class="horizontal">
                    <input type="text" maxlength="5" name="addressPostal" placeholder="우편번호"
                           class="common-field big" th:data-regex="${userRegex.ADDRESS_POSTAL.expression}">
                    <input type="button" name="addressFind" class="common-button" value="주소 찾기">
                </span>
            <input readonly type="text" maxlength="100" name="addressPrimary"
                   placeholder="기본 주소(주소 찾기 버튼을 클릭해 주세요.)" class="common-field"
                   th:data-regex="${userRegex.ADDRESS_PRIMARY.expression}">
            <input type="text" maxlength="100" name="addressSecondary" placeholder="상세 주소(건물명, 동, 호수 등)"
                   class="common-field" th:data-regex="${userRegex.ADDRESS_SECONDARY.expression}">
        </label>

        <input type="submit" value="회원가입" class="common-button join-btn">
    </div>
</form>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>