<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main class="content-container-wrapper" id="main">
    <div class="content-container">
        <h1 class="title">로그인</h1>
        <form action="/user/login" method="post" class="login-form" id="loginForm">
            <label class="label">
                <span class="text">이메일</span>
                <input type="email" maxlength="50" placeholder="이메일(user@sample.com)" name="username" class="common-field">
            </label>
            <label class="label">
                <span class="text">비밀번호</span>
                <input type="password" maxlength="50" placeholder="비밀번호" name="password" class="common-field">
            </label>
            <span th:if="${error}" class="exception" th:text="${exception}"></span>
            <input type="submit" value="로그인" class="common-btn">
            <ul class="menu">
                <li class="item">
                    <span class="text">아직 계정이 없으신가요?</span>
                    <a href="/user/join" class="link">회원가입하기</a>
                </li>
                <li class="item">
                    <span class="text">이메일을 잊어버리셨나요?</span>
                    <a href="/user/findEmail" class="link">이메일 찾기</a>
                </li>
                <li class="item">
                    <span class="text">비밀번호를 잊어버리셨나요?</span>
                    <a href="/user/resetPassword" class="link">비밀번호 재설정하기</a>
                </li>
            </ul>
        </form>
        <a href="/oauth2/authorization/kakao" class="btn btn-warning w-100 mb-2">카카오 로그인</a><br/>
        <a href="/oauth2/authorization/naver" class="btn btn-success w-100 mb-2">네이버 로그인</a><br/>
        <a href="/oauth2/authorization/google" class="btn w-100 mb-2">구글 로그인</a><br/>
    </div>
</main>


<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>





