<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main class="content-container-wrapper" id="main">
    <div class="content-container">
        <h1 class="center">로그인</h1>
        <form action="/user/login" method="post" class="login-form" id="loginForm">
            <label>
                <p class="text">이메일</p>
                <input type="email" maxlength="50" placeholder="이메일(user@sample.com)" name="username" th:value="${username}" class="common-field">
            </label>
            <label>
                <p class="text">비밀번호</p>
                <input type="password" maxlength="50" placeholder="비밀번호" name="password" class="common-field">
            </label>
            <span th:if="${error}" class="exception" th:text="${exception}"></span>
            <input type="submit" value="로그인" class="common-btn">
            <ul class="menu">
                <li class="item">
                    <span class="text">아직 계정이 없으신가요?</span>
                    <a href="/user/join" class="link">회원가입하기</a>
                </li>
                <li class="item">
                    <span class="text">이메일을 잊어버리셨나요?</span>
                    <a href="/user/findEmail" class="link">이메일 찾기</a>
                </li>
                <li class="item">
                    <span class="text">비밀번호를 잊어버리셨나요?</span>
                    <a href="/user/resetPasswordStep1" class="link">비밀번호 재설정하기</a>
                </li>
            </ul>
            <div class="simple-login-container">
                <h2>간편 로그인</h2>
                <div class="icon-container">
                    <a href="/oauth2/authorization/kakao">
                        <img src="/images/login/kakao.png" alt="">
                    </a>
                    <a href="/oauth2/authorization/naver">
                        <img src="/images/login/naver.png" alt="">
                    </a>
                    <a href="/oauth2/authorization/google">
                        <img src="/images/login/google.png" alt="">
                    </a>
                </div>
            </div>
        </form>
    </div>
</main>


<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>





