<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/resetPasswordStep1.css">

    <script defer src="/js/common.js"></script>
    <script defer src="/js/user/resetPasswordStep1.js"></script>

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <h1 class="title">이메일 인증</h1>
        <form id="resetPasswordStep1Form" class="reset-password-step1-form"
              th:with="userRegex = ${T(com.coremap.demo.regexes.UserRegex)}, emailAuthRegex = ${T(com.coremap.demo.regexes.EmailAuthRegex)}">
            <input type="hidden" id="emailSalt">
            <div class="content-container reset-password-step1-container">
                <label class="label email">
                <span class="horizontal">
                    <span class="text">이메일</span>
                    <span class="text email-warning"></span>
                </span>
                    <span class="horizontal">
                    <input type="email" class="big common-field" maxlength="50" name="email" placeholder="이메일 (user@sample.com)" th:data-regex="${userRegex.EMAIL.expression}">
                    <input type="button" name="emailSend" value="인증번호 발송" class="common-btn">
                    </span>
                    <span class="horizontal">
                    <input disabled type="number" maxlength="6" minlength="6" name="emailCode" placeholder="이메일 인증번호(숫자 6자)" class="big common-field" th:data-regex="${emailAuthRegex.CODE.expression}">
                    <input disabled type="button" name="emailVerify" value="인증번호 확인" class="common-btn">
                </span>
                </label>
                <input type="submit" value="확인" class="common-btn confirm-btn">
            </div>
            <span class="horizontal">
                <p class="text">이메일을 잊어버리셨나요?</p>
                <a href="/user/findEmail" class="link">이메일 찾기</a>
            </span>
        </form>
</main>


<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>