<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/user/resetPasswordStep2.css">

    <script defer src="/js/common.js"></script>
    <script defer src="/js/user/resetPasswordStep2.js"></script>

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: common}"></th:block>
<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <h1 class="title">비밀번호 재설정</h1>
    <form id="resetPasswordStep2Form" class="reset-password-step2-form"
          th:with="userRegex = ${T(com.coremap.demo.regexes.UserRegex)}">
        <input type="hidden" name="username" th:value="${username}">
        <div class="content-container reset-password-step2-container">
            <label class="label password">
                    <span class="horizontal">
                        <span class="text">비밀번호</span>
                        <span class="text password-warning"></span>
                    </span>
                <input class="common-field" maxlength="15" name="password"
                       placeholder="비밀번호 (영문, 숫자, 특수문자를 포함한 8~15자)" type="password"
                       th:data-regex="${userRegex.PASSWORD.expression}">
            </label>
            <label class="label password-check">
                <p class="text password-check-warning"></p>
                <input class="common-field" maxlength="15" name="passwordCheck" placeholder="비밀번호 재입력"
                       type="password">
            </label>
            <input type="submit" value="확인" class="common-btn confirm-btn">
        </div>
    </form>
</main>


<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>