@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

a:link, a:visited {
    color: white;
    text-decoration: none;
}

body {
    min-width: 1300px;
    min-height: 100vh;
    background-color: #eaecee;
    color: #eaecee;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    margin: unset;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input, select, textarea, button {
    padding: 0;
    border: 0;
    vertical-align: baseline;
    resize: none;
    outline: none;
}

ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
}

tbody, td, tfoot, th, thead, tr {
    border-style: initial;
}

p {
    margin-bottom: 0;
}





.content-container-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-container {
    max-width: 1000px;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 2.25rem;
    margin-block: unset;
    margin-inline: unset;
}

h2 {
    font-weight: 500;
    font-size: 1.75rem;
    margin-block: unset;
    margin-inline: unset;
}

#header {
    background-color: #202127;
    height: 3.725rem;
}

#header .menu {
    height: inherit;

    gap: 1.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#main {
    width: 100%;
    background-color: #2A292E;
    flex: 1;
}

#footer {
    background-color: #313237;
    height: 7.5rem;
}

#footer > .content-container {
    margin: auto 0;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#footer .content-container-left {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

#footer .icon-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#footer .terms-policy-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin-top: 0.35rem;
}


#footer .terms-policy-container .text {
    white-space: nowrap;
    color: #eaecee;
    font-weight: 400;
    font-size: 0.9rem;
}

#footer .terms-policy-container .link.privacy-policy {
    border-right: 0.0625rem solid #eaecee;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

#footer .terms-policy-container .link.terms {
    margin-left: 1.5rem;
}

#footer .copyright {
    color: #eaecee;
    margin: unset;
}

#footer img {
    height: 32px;
}

#loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.25rem);
    background-color: #17202aa0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 998;

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

#loading.visible {
    opacity: 1;
    pointer-events: all;
}

#loading > .icon {
    top: 1rem;
    width: 4rem;
    animation-name: animation-loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    position: relative;
    transition-duration: 250ms;
    transition-property: top;
    transition-timing-function: ease;
}

#loading.visible > .icon {
    top: 0;
}

@keyframes animation-loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.horizontal {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.common-btn {
    color: #eaecee;
    background-color: #202127;
    border: 0.0625rem solid #202127;
    border-radius: 0.375rem;
    padding: 0.5rem 0.625rem;
}

.common-btn:active {
    background-color: #212329;
    border: 0.0625rem solid #212329;
}

.common-btn:hover {
    background-color: #212329;
    border: 0.0625rem solid #212329;
}

.common-btn:focus {
    border: 0.0625rem solid #262626;
}

.common-btn:disabled {
    background-color: #7D7D7D;
    border: 0.0625rem solid #7D7D7D;
    cursor: default;
}

.common-input::placeholder {
    color: #d5d8dc;
}

.common-input,
.common-select {
    background-color: #202127;
    color: #eaecee;
    border: 0.0625rem solid #202127;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
}

.common-input:hover {
    border: 0.0625rem solid #262626;
}

.common-input:focus {
    border: 0.0625rem solid #262626;
}

.common-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #202127 inset;
    -webkit-text-fill-color: #eaecee;
}

.common-input:disabled {
    background-color: #2A292E;
    border: 0.0625rem solid #17202a;
}

#dialog {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.125rem);
    background-color: #17202aa0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 999;
}

#dialog.visible {
    opacity: 1;
    pointer-events: all;
}

#dialog > .modal {
    width: 250px;
    height: 150px;
    top: calc(50% + 1rem);
    left: 50%;
    border-radius: 0.375rem;
    box-shadow: 0 0 1rem 0.0625rem #17202a50;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: top;
    transition-timing-function: ease;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#dialog.visible > .modal {
    top: 50%;
}

#dialog .title {
    background-color: #17202a;
    font-size: 1.125rem;
    padding: 0.875rem 1.25rem;
}

#dialog .content {
    background-color: #2A292E;
    padding: 0.875rem 1.25rem;
}

#dialog .button-container {
    background-color: #2A292E;
    border-top: 0.0625rem solid #d5d8dc;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#dialog .button {
    cursor: pointer;
    flex: 1 1 0;
    padding: 0.625rem 1.25rem;
    text-align: center;
    user-select: none;
    white-space: nowrap;
}

#dialog .button:active {
    background-color: #2A292E;
}

#dialog .button:hover {
    color: #3498db;
}

#dialog .button + .button {
    border-left: 0.0625rem solid #d5d8dc;
}

#addressFind {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0.25rem);
    background-color: #17202aa0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 250ms;
    transition-property: opacity;
    transition-timing-function: ease;
    z-index: 9;
}

#addressFind.visible {
    opacity: 1;
    pointer-events: all;
}

#addressFind  .close {
    top: 1.5rem;
    right: 1.5rem;
    width: 2.5rem;
    cursor: pointer;
    position: absolute;
}

#addressFind .modal {
    top: calc(50% + 1rem);
    left: 50%;
    width: 25rem;
    height: 30rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.0625rem #17202a50;
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: top;
    transition-timing-function: ease;
}

#addressFind.visible .modal {
    display: block;
    top: 50%;
}