@charset "UTF-8";

#main {
    background-color: #2A292E;
}

#main .content-container {
    margin: 5rem 0;

}

img {
    height: 600px;
}

.title {
    font-weight: 700;
    font-size: 2.75rem;
}

.center {
    text-align: center;
}

.exercise-container {
    display: flex;
    flex-direction: row;
    margin-top: 7.5rem;
}

.exercise-section {
    margin-right: 13rem;
}

.exercise-section ul {
    margin-bottom: 5rem;
}

.exercise-section li {
    font-size: 1.25rem;
    margin-top: 0.75rem;
}

.img-container {
    margin-top: 5rem;
}

.line {
    margin-top: 1.75rem;
    margin-bottom: 3rem;
    border-bottom: 0.0625rem solid #4F4F4F;
}

.start-position,
.exercise-movement,
.breath-technique {
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
}

.precaution {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.exercise-info-container h3 {
    margin-bottom: 0.5rem;
}