<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>코어맵</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <!-- swiper.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <script defer src="/js/index.js"></script>

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>


<main id="main" class="content-container-wrapper">
    <section class="main-section-1">
        <div class="background-image-container">
            <img src="/images/mainSection1Background.jpg" alt="">
            <div class="linear-gradient"></div>
        </div>
        <div class="section-text-container-1">
            <h1 class="section-title text-center">운동이 쉬워진다.
                코어맵 하나면 운동 고민 끝</h1>
            <p class="text text-center">가지고 있었던 운동 고민,
                코어맵에서 해결하세요.</p>
        </div>
    </section>
    <section class="main-section-2">
        <div class="content-container">
            <div>
                <h1 class="section-title">운동 자세를 배워보세요.</h1>
                <p class="text">수많은 운동의 상세한 가이드를 제공합니다.
                    가이드에 나와있는 자세, 팁, 호흡법을 참고하여
                    올바른 자세로 운동을 해보세요.</p>
            </div>
            <img src="/images/mainSection2Image1.png" alt="">
        </div>
    </section>
    <section class="main-section-3">
        <div class="content-container">
            <img src="/images/mainSection3Image1.png" alt="">
            <div>
                <h1 class="section-title">혼자 고민하지 마세요.</h1>
                <p class="text">운동에 대한 지식을 공유하고 소통하며, 고민거리를
                    함께 해결해보세요. 운동에 대한 열정을
                    더 끌어올릴 수 있습니다.
                </p>
            </div>
        </div>
    </section>
    <section class="main-section-4">
        <h1 class="section-title">추천 영상</h1>
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <iframe src="https://www.youtube.com/embed/KCAwey51gUc?si=igixNoZxcqrtlxZ3"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="swiper-slide">
                    <iframe src="https://www.youtube.com/embed/A2kHURY746E?si=5SjgrWmA7TRbqYQd"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
                <div class="swiper-slide">
                    <iframe src="https://www.youtube.com/embed/bKJGcuRAgg8?si=wNus0KwxkNU01BWQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>