<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>개인정보 처리방침</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/policy/privacyPolicy.css">
    <script defer src="/js/policy/privacyPolicy.js"></script>
</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1 class="center">개인정보 처리방침</h1>
        <div class="privacy-policy-container">
            <ul>
                <li>
                    <button data-value="privacy-policy1" class="privacy-policy-btn">
                        <h2>1. 개인정보의 처리 목적</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy1" class="privacy-policy-content">
                        <p class="text">주식회사 코어맵(이하 코어맵) 은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.</p>
                        <p class="text">고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별과 인증, 회원자격 유지 및 관리, 물품 또는 서비스 공급에 따른 금액 결제, 물품 또는 서비스의 공급.배송 등</p>
                    </div>
                </li>
                <li>
                    <button data-value="privacy-policy2" class="privacy-policy-btn">
                        <h2>2. 개인정보의 처리 및 보유 기간</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy2" class="privacy-policy-content">
                        <p class="text">(‘코어맵’) 은(는) 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유․이용기간 또는 법령에 따른 개인정보 보유․이용기간 내에서 개인정보를 처리․보유합니다.</p>
                        <p class="text">구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
                        <p class="margin-left text">- 고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권․채무관계 잔존시에는 해당 채권․채무관계 정산시까지</p>
                        <p class="margin-left text">- 전자상거래에서의 계약․청약철회, 대금결제, 재화 등 공급기록 : 5년</p>
                    </div>
                </li>
                <li>
                    <button data-value="privacy-policy3" class="privacy-policy-btn">
                        <h2>3. 개인정보의 수집</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy3" class="privacy-policy-content">
                        <p class="text">코어맵은(는) 모바일 애플리케이션, 서면양식, 전화 등을 통한 회원가입, 고객센터 상담(전화 또는 이메일), 제휴사로부터의 제공, 이벤트 응모 등을 통해 개인 정보를 수집합니다.</p>
                        <p class="text">회사는 서비스에 대한 트래픽과 사용 동향을 측정하는데 도움을 얻기 위해 제3자 분석 툴을 사용합니다. 이러한 분석 툴은 회원이 방문하는 서비스 페이지와 서비스의 섹션, 서비스 체류 시간 등 플랜핏의 서비스 개선에 도움이 되는 정보를 수집합니다. 이 분석 정보는 모든 사용자들의 정보가 함께 수집되어 사용되기 때문에 특정한 사용자를 식별하는 데에는 사용될 수 없습니다.</p>
                    </div>
                </li>
                <li>
                    <button data-value="privacy-policy4" class="privacy-policy-btn">
                        <h2>4. 개인정보의 이용</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy4" class="privacy-policy-content">
                        <p class="text">다음 목적을 위해 수집한 정보를 사용할 수 있습니다.</p>
                        <p class="margin-left text">- 서비스 제공에 필요한 친구초대, 친구추천</p>
                        <p class="margin-left text">- 신체 데이터를 활용한 추천 서비스, 알림 서비스 제공, 서비스 효율성에 대한 개선/테스트/모니터링</p>
                        <p class="margin-left text">- 신규 기능의 개발과 테스트</p>
                        <p class="margin-left text">- 기술적인 문제의 진단과 해결, 서비스 문제 해결</p>
                        <p class="margin-left text">- 서비스 문제 해결, 데이터 분석, 연구 활동 등을 포함한 내부 운영 </p>
                        <p class="margin-left text">- 회원이 서비스를 이용하며 등록한 콘텐츠의 노출, 공유, 퍼블리시</p>
                        <p class="text">그리고, 가입 의사 또는 탈퇴 의사 확인, 서비스 이용에 따른 이용자 확인 및 식별, 약관 또는 이용정책을 위반하는 이용자의 이용제한조치 등 서비스 운영에 지장을 주는 행위 방지 및 부정이용방지, 분쟁조정을 위한 기록보존, 민원처리, 공지사항 전달 등을 위해 개인정보를 이용합니다.</p>
                        <p class="text">또한, 서비스 이용기록 분석 및 통계와 그에 따른 맞춤형 서비스(광고 포함) 제공, 인구통계학적 특성에 따른 서비스 제공 및 맞춤형 광고 게재, 결제 처리, 서비스 개발/제공 또는 업데이트, 이벤트 또는 광고성 정보 제공 등을 위해 개인정보를 이용합니다.</p>
                    </div>
                </li>
                <li>
                    <button data-value="privacy-policy5" class="privacy-policy-btn">
                        <h2>5. 광고성 정보 전송의 제한</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy5" class="privacy-policy-content">
                        <p class="text">코어맵은 회원의 명시적인 수신거부 의사에 반하여 영리목적의 광고성 정보를 전송하지 않습니다. 회원이 뉴스레터 등 전자우편 전송에 대한 동의를 한 경우 전자우편의 제목란 및 본문란에 다음 사항과 같이 회원이 쉽게 알아 볼 수 있도록 조치합니다.</p>
                        <p class="margin-left text">- 전자우편의 제목란 : (광고)라는 문구를 제목란에 표시하지 않을 수 있으며, 전자우편 본문란의 주요 내용을 표시합니다.</p>
                        <p class="margin-left text">- 전자우편의 본문란 : 수신거부의 의사표시를 할 수 있는 전송자의 명칭, 전자우편주소, 전화번호 및 주소를 명시하며 수신 거부의 의사를 쉽게 표시할 수 있는 방법 및 회원이 동의를 한 시기 및 내용을 명시합니다.</p>
                        <p class="text">팩스, 휴대폰 문자전송 등 전자우편 이외의 문자전송을 통해 영리목적의 광고성 정보를 전송하는 경우에는 전송내용 처음에 (광고)라는 문구를 표기하고 전송내용 중에 전송자의 연락처를 명시하도록 조치합니다.</p>
                        <p class="text">회원은 영리목적의 광고성 정보를 전송 받은 경우 언제든지 이에 대해 수신거부의 의사표시를 할 수 있고, 나플랜핏은 즉각 전송중단의 조치를 취한 후 이를 회원에게 알립니다.</p>
                    </div>
                </li>
                <li>
                    <button data-value="privacy-policy6" class="privacy-policy-btn">
                        <h2>6. 개인정보의 제3자 제공에 관한 사항</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy6" class="privacy-policy-content">
                        <p class="text">코어맵은(는) 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>
                    </div>
                </li>
                <li>
                    <button data-value="privacy-policy7" class="privacy-policy-btn">
                        <h2>7. 개인정보 자동 수집 장치의 설치•운영 및 거부에 관한 사항</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="privacy-policy7" class="privacy-policy-content">
                        <p class="text">코어맵은 개인화되고 맞춤화된 서비스를 제공하기 위해 정보주체의 이용정보를 저장하고 수시로 불러오는 ‘쿠키’를 사용합니다. 쿠키는 서비스를 운영하는데 이용되는 서버(http)가 이용자의 브라우저에게 보내는 소량의 정보이며 이용자들의 디바이스 내의 하드디스크에 저장되기도 합니다. </p>
                        <p class="text">쿠키의 사용 목적은 아래와 같습니다.</p>
                        <p class="margin-left text">- 회원의 접속 빈도나 방문 시간 등의 분석, 이용자의 취향과 관심분야의 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 횟수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공</p>
                        <p class="text">쿠키 설정 거부 방법</p>
                        <p class="margin-left text">- 설정방법(IE 기준) : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보 > 사이트 차단</p>
                        <p class="margin-left text">단, 쿠크 설치를 거부하였을 경우 로그인이 필요한 일부 서비스의 이용이 어려울 수 있습니다.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>