<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이용약관</title>

    <th:block th:insert="~{fragments/fragments.html :: headCdns}"></th:block>

    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/policy/terms.css">
    <script defer src="/js/policy/terms.js"></script>

</head>
<body>

<th:block th:replace="~{fragments/fragments.html :: header}"></th:block>

<main id="main" class="content-container-wrapper">
    <div class="content-container">
        <h1 class="center">이용약관</h1>
        <div class="terms-container">
            <ul>
                <li>
                    <button data-value="terms1" class="terms-btn">
                        <h2>제1조 목적</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="terms1" class="terms-content">
                        <p class="text">이 약관은 코어맵이 운영하는 홈페이지 (이하 "코어맵 홈페이지"이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리의무 및 책임사항을 규정함을 목적으로 합니다.</p>
                    </div>
                </li>
                <li class="item">
                    <button data-value="terms2" class="terms-btn">
                        <h2>제2조 정의</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="terms2" class="terms-content">
                        <p class="text">1) 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                        <p class="ms-3 text">- '회사'란 서비스를 제공하는 주체(주식회사 코어맵)를 말합니다. </p>
                        <p class="ms-3 text">- '서비스'란 회사가 제공하는 모든 서비스 및 기능을 말합니다. </p>
                        <p class="ms-3 text">- '회원'이란 서비스에 회원가입을 하고 서비스를 이용하는 자를 말합니다. </p>
                    </div>
                </li>
                <li class="item">
                    <button data-value="terms3" class="terms-btn">
                        <h2>제3조 코어맵 서비스</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="terms3" class="terms-content">
                        <p class="text">1.코어맵의 회원은 서비스와 이 서비스를 통해 제공되는 모든 콘텐츠를 개인적, 비상업적 용도로만 사용해야 합니다.</p>
                        <p class="text">2. 코어맵은 다음 서비스를 제공합니다 </p>
                        <p class="ms-3 text">- 운동 자세</p>
                        <p class="ms-3 text">- 커뮤니티</p>
                        <p class="ms-3 text">- 기타 회사가 정하는 서비스 </p>
                        <p class="text">3. 운동 컨텐츠를 비롯한 서비스는 정기적으로 업데이트됩니다. 또한, 코어맵은 운영상 또는 기술상의 필요에 따라 사용자 인터페이스, 코어맵 콘텐츠와 그의 이용 가능 여부 등 서비스의 다양한 측면에 대한 테스트를 지속적으로 실시하고, 변경할 수 있습니다. </p>
                        <p class="text">4. 회원은 모든 관련 법률, 규칙, 규정 또는 코어맵의 서비스 및 콘텐츠 사용과 관련된 기타 제한에 따라 코어맵 서비스(서비스 내의 모든 기능을 포함)를 이용하는 데 동의합니다. 회원은 코어맵 서비스에 포함되어 있거나 코어맵 서비스를 통해 획득한 콘텐츠와 정보를 아카이브, 복제, 배포, 수정, 전시, 시연, 출판, 라이선스, 2차적 저작물로 생성, 판매 권유하거나 이용(본 이용 약관에 명시적으로 허용된 경우 제외)하지 않을 것에 동의합니다. 또한 회원은 코어맵 서비스 내 콘텐츠 보호 기능을 우회, 삭제, 수정, 무효화, 약화 또는 훼손하거나, 코어맵 서비스에 접근하는 데 로봇, 스파이더, 스크레이퍼나 기타 자동화 수단을 이용하거나, 코어맵 서비스를 통해 접근 가능한 소프트웨어나 기타 제품, 프로세스를 역컴파일, 리버스 엔지니어링 또는 역어셈블하거나, 코드나 제품을 삽입하거나 어떤 방식으로든 코어맵 서비스 콘텐츠를 조작하거나, 데이터 마이닝, 데이터 수집 또는 추출 방법을 사용해서는 안 됩니다. 또한 회원은 소프트웨어 바이러스나 기타 컴퓨터 코드, 파일이나 프로그램을 포함하여, 코어맵 서비스와 관련된 컴퓨터 소프트웨어나 하드웨어 또는 통신 장비의 기능을 방해, 파괴 또는 제한하기 위해 설계된 자료를 업로드, 게시, 이메일 전송, 또는 다른 방식으로 발송, 전송해서도 안 됩니다. 회원이 본 이용 약관을 위반하거나 불법적이거나 사기성 있는 서비스 사용에 가담하는 경우, 코어맵은 회원의 서비스 사용을 종료시키거나 제한할 수 있습니다.</p>
                        <p class="text">5. 코어맵의 서비스는 장비의 유지∙보수를 위한 정기 또는 임시 점검 또는 다른 상당한 이유로 서비스의 제공이 일시 중단될 수 있습니다. </p>
                        <p class="text">6. 코어맵의 서비스는 상당한 이유가 있는 경우 운영상, 기술상의 필요에 따라 제공하고 있는 전부 또는 일부 서비스를 변경할 수 있습니다. 또한 무료로 제공되는 서비스의 일부 또는 전부를 회사의 정책 및 운영의 필요상 수정, 중단, 변경할 수 있으며 이에 대한 관련법에 특별한 규정이 없는 한 별도의 보상을 제공하지는 않습니다.</p>
                    </div>
                </li>
                <li class="item">
                    <button data-value="terms4" class="terms-btn">
                        <h2>제4조 보증 및 책임의 제한</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="terms4" class="terms-content">
                        <p class="text">코어맵의 서비스는 '있는 그대로' 어떠한 보증이나 조건없이 제공됩니다. 특히 코어맵 서비스의 중단이나 에러 없이 제공된다고 보증하지 않습니다. 회원은 코어맵을 상대로 모든 특별 배상, 간접 배상, 2차 배상을 청구할 권리를 포기합니다. </p>
                    </div>
                </li>
                <li class="item">
                    <button data-value="terms5" class="terms-btn">
                        <h2>제5조 회원가입</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="terms5" class="terms-content">
                        <p class="text">1. 이용자가 “서비스”의 사용을 위해 코어맵 정한 가입 양식에 따라 로그인하면 이 약관에 동의하는 것으로 간주하며 자동적으로 회원가입이 됩니다.</p>
                        <p class="text">2. 코어맵은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각호에 해당하지 않는 한 회원으로 등록합니다.</p>
                        <p class="ms-3 text">- 등록 내용에 허위, 기재누락, 오기가 있는 경우</p>
                        <p class="ms-3 text">- 기타 회원으로 등록하는 것이 코어맵의 기술상 현저히 지장이 있다고 판단되는 경우</p>
                        <p class="text">3. 회원가입계약의 성립시기는 코어맵의 승낙이 회원에게 도달한 시점으로 합니다.</p>
                    </div>
                </li>
                <li class="item">
                    <button data-value="terms6" class="terms-btn">
                        <h2>제6조 회원 탈퇴 및 자격 상실 등</h2>
                        <img class="icon"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAu0lEQVR4nO2USQoCMRAAx6voF1R8kwdfEDCdXkTmeyouz5DRn0gEL+O4TDY8dB2ThipC6KpSFEX5FwRxweguzDzL5dhYO/WONcHy5dJaO2KCA5O75ojwckFoBN3RuzqHjDFDJtgKwk1kNU8lJ6LJ43UJTnVdjz8Om8QRveSpI4LkqSKi5LERSeShEU+5EJyj5X0jssh/jcgq/xZRRP4uoqi8a2379Zrkt4dECLodE+yLy1sM2geKoihVD+6/lLSmbVocyQAAAABJRU5ErkJggg=="
                             alt="">
                    </button>
                    <div data-value="terms6" class="terms-content">
                        <p class="text">조항 내용</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<th:block th:replace="~{fragments/fragments.html :: footer}"></th:block>

</body>
</html>