<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/resources/stylesheets/common.css}">
    <link rel="stylesheet" th:href="@{/home/resources/stylesheets/homepage.css}">
    <script defer th:src="@{/home/resources/scripts/homepage.js}"></script>
    <title>코어맵</title>
</head>
<body>

<th:block th:replace="~{fragments.html :: header}"></th:block>


<main id="main" class="content-container-wrapper">
    <section class="main-section-1">
        <div class="content-container">
            <div class="explanation-container">
                <div class="text-container">
                    <h1 class="title">gdgdgd</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="main-section-2">
        <div class="slide-container">
            <div class="button-container">
                <button onclick="slideVideo('prev')" class="prev" type="button">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA30lEQVR4nO3YQWoCQRCF4Vq4MbpQ0RMKnkLwWDKCFFUNTbe2tsmFlJAQDKhb+w3vg9nM7ufNNMOIEBERgTm7L5LZUtAjsvtXdr9ms7XAR/jvhRZTVOfZ7PNfxM+1V9WBIAghTLNZeRDhqjoWBIERjeASLS2RzI7QL3ZVnTCiBZVLNKL2YYkY4yy7nx59O5VSPgRmCfcD9BK9CvnGGLRlkrv1KubSdSNBUhmDd5rtYoxDQVIZ0yguA7hMB3cAxCef/clsC/PL9NUyyX0jiOpdDGzE/WOWQlj93SAiIpL3ugFKeOV7KuCVQAAAAABJRU5ErkJggg=="
                         alt="">
                </button>
                <div class="spring"></div>
                <button onclick="slideVideo('next')" class="next" type="button">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA3UlEQVR4nO3WWwrCMBSE4bgXwdtmBMWNaRVXk55psYm4C8HLFvQhUlEftPVRcuJ8kAX8TGhjDBERUSQcMN5Z2zeaVSITJ3LxImdfFCOjOgII9yNyUhnjRdaviMdxwGFblj2jSQih40SW7zH1Mg4YGk0CY+JeJkvpmmWM0bRMlecDk0KMA44qYzywYExsklvGAauPDwCw31jbNQqXmTct4zW9mr9dMa8lpPVxqelqhZYlGPFrXCIWXCIWXCIWXCIWIYU/di2JiJrP85kHrqojGmL0Rjw5YKo+goiI/tINGwPylqRAtaEAAAAASUVORK5CYII="
                         alt="">
                </button>
            </div>
            <div class="video-container">
                <ul>
                    <li>
                        <iframe src="https://www.youtube.com/embed/KCAwey51gUc?si=igixNoZxcqrtlxZ3"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe src="https://www.youtube.com/embed/A2kHURY746E?si=5SjgrWmA7TRbqYQd"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe src="https://www.youtube.com/embed/bKJGcuRAgg8?si=wNus0KwxkNU01BWQ"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen></iframe>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<th:block th:replace="~{fragments.html :: footer}"></th:block>

</body>
</html>