.main-section-1 {
    background-image: url('../images/main12.jpg');
    position: relative;
    height: 677px;
}

.main-section-1 > .main-image1 {
    position: absolute;
}

.main-section-1 > .content-container {
    color: #eaecee;
    position: absolute;
    z-index: 5;
}

.main-section-2 {
    background-color: #202127;
}

.main-section-2 > .slide-container {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 500px;
}

.main-section-2 > .slide-container > .video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.main-section-2 > .slide-container > .video-container > ul {
    list-style: none;
    font-size: 0;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.main-section-2 > .slide-container > .video-container > ul li {
    display: inline-block;
    width: 33.3333333333333%;
    height: 100%;
}

.main-section-2 > .slide-container > .video-container > ul li iframe {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
}

.main-section-2 > .slide-container > .button-container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.main-section-2 > .slide-container > .button-container > .prev {
    transform: translateX(-50px);
}

.main-section-2 > .slide-container > .button-container > .next {
    transform: translateX(50px);
}

